@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
	:root {
		--radius: 0.5rem;
	}
	* {
		font-family: var(--font-poppins), sans-serif;
	}

	}
@layer utilities{
	.navbar {
		@apply bg-white flex md:flex-row flex-col justify-between text-sm items-center text-wrap gap-5 px-10 pb-5 md:py-10 md:px-20 text-text md:sticky md:top-0 w-full font-normal shadow-lg z-50 h-auto md:h-20;
	}
	  
	.btn-purple{
		@apply bg-third px-40 hover:scale-110 transform transition-transform duration-500 py-3 lg:w-[160px] md:w-[130px] w-[110px] rounded-[40px] text-white cursor-pointer	;
	}
	.nav-link{
		@apply flex flex-col sm:flex-row justify-between items-center gap-5 md:gap-10;
	}
	.btn-white{
		@apply bg-white-100 hover:scale-110 transform transition-transform duration-500 px-40 py-3 lg:w-[160px] md:w-[130px] w-[110px] rounded-[40px] text-text cursor-pointer
	}

	.dropdown{
        @apply inline-flex  justify-center items-center gap-x-1.5 px-3 truncate font-normal ;
    }

    .dropdown-menuitems{
        @apply absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5 transition focus:outline-none data-[closed]:scale-95 data-[closed]:transform data-[closed]:opacity-0 data-[enter]:duration-100 data-[leave]:duration-75 data-[enter]:ease-out data-[leave]:ease-in;
    }

    .dropdown-menuitem{
        @apply block px-4 py-2 text-sm data-[focus]:bg-gray-100 data-[focus]:text-gray-900 data-[focus]:outline-none
    }

	.what-is-skilline {
	@apply bg-white text-[#696984];
	}

	.title {
	@apply text-2xl md:text-4xl font-semibold text-[#B2B3CF] mb-4;
	}

	.highlight {
	@apply text-text;
	}

	.subtitle {
	@apply text-gray-600 text-sm md:text-lg leading-6 max-w-3xl mx-auto;
	}

	.cards {
	@apply flex flex-col md:flex-row gap-6 justify-center items-center;
	}

	.card {
	@apply relative rounded-lg overflow-hidden bg-gray-200 shadow-md w-full md:w-96 h-64;
	background-size: cover;
	background-position: center;
	}

	.card1 {
	background-image: url('/public/homesection1.jpg'); /* Promeni putanju slike */
	}

	.card2 {
	background-image: url('/public/homesection2.jpg'); /* Promeni putanju slike */
	}

	.overlay {
	@apply flex flex-col justify-center items-center bg-black bg-opacity-50 text-white w-full h-full p-4;
	}

	.card-title {
	@apply text-sm text-center lg:text-2xl md:text-xl font-semibold uppercase mb-4;
	}

	.cta-button {
		@apply px-6 py-2 font-light rounded-full text-wrap text-white w-full max-w-max hover:scale-110 transform transition-transform duration-500;
	  }
	
	.cta-button-outline {
		@apply border border-white bg-transparent bg-opacity-0;
	}
	
	.cta-button-filled {
		@apply bg-[#B2B3CF];
	}

	.feature-card {
		@apply p-6 bg-white border border-gray-200 rounded-lg shadow-lg w-80 max-w-full;
	  }
	  
	  .feature-icon {
		@apply mb-4 p-4 bg-blue-100 rounded-full inline-block;
	  }
	  
	  /* Button for features */
	  .feature-button {
		@apply px-6 py-2 font-light rounded-full text-white bg-blue-500 hover:bg-blue-700 transition-colors duration-300;
	  }

}
body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}